<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Your Project Name{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
    <link href='https://unpkg.com/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />

  </head>
  <body>
    <header>
      <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Home</a>
      <!-- Navigation bar goes here -->
    </header>
    <main role="main" class="container">
      {% block content %}
      {% endblock %}
    </main>
    <footer class="footer">
      <!-- Footer goes here -->
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
